<div class="modal-content">
  <div class="modal-header header-color-modal bg-color-3">
    <h4 class="modal-title">Crear Bodega</h4>
    <div class="modal-close-area modal-close-df">
      <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
    </div>
  </div>
  <div class="modal-body">
    <!-- Breadcome End-->
    <form formGroup="formalmacen" (ngSubmit)="guardarAlmacen($event)">
      <div class="row">
        <div class="col-lg-4">
          <div id="pwd-container3">
            <div class="form-group">
              <div class="col-lg-4">
                <mat-slide-toggle (change)="onChange($event)" formControlName="status">{{Objetoestado}}
                </mat-slide-toggle>
              </div>
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="password3">Nombre</label>
              <input formControlName="nombre"
                ngClass="{'invalid-data': nombre.invalid && (nombre.touched || nombre.dirty)}" type="text"
                class="form-control" placeholder="Ingrese el Nombre de la Bodega" />
              <div *ngIf="nombre.invalid  && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                  Nombre Requerido
                </div>
                <div class="invalid-mensaje" *ngIf="nombre.errors.pattern">
                  Nombre Incorrecto
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password3">Dirección</label>
              <input formControlName="direccion"
                ngClass="{'invalid-data': direccion.invalid && (direccion.touched || direccion.dirty)}"
                type="text" class="form-control" placeholder="Ingrese la Dirección del Almacén" />
              <div *ngIf="direccion.invalid  && (direccion.dirty || direccion.touched)">
                <div *ngIf="direccion.errors.required">
                  Nombre Requerido
                </div>
                <div class="invalid-mensaje" *ngIf="direccion.errors.pattern">
                  Nombre Incorrecto
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
                <input type="checkbox" (change)="onChangePrincipal($event)" formControlName="principal">
                <i></i> Bodega Principal </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="modal-footer">
    <a (click)="onCancel()">Cancelar</a>
    <a (click)="onConfirm()">Aceptar</a>
  </div>
</div>
