<div class="loading" *ngIf="loading">
  <!--<div class="textoGuardando">{{"PROCESANDO" | translate}}...</div>-->
  <div class="textoGuardando">Procesando...</div>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="wrapper-pro">
  <app-menu></app-menu>
  <app-header></app-header>
</div>

<form [formGroup]="formimpuesto" (ngSubmit)="guardarImpuesto($event)">

  <div class="content-inner-all">
    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 small-dn">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcome-list shadow-reset">
              <div class="row">
                <div class="col-lg-6">
                  <div class="breadcome-heading">
                    <button type="submit" class="form-control">
                      <i class="fa fa-save" aria-hidden="true"></i>
                      Guardar</button>
                  </div>
                </div>
                <div class="col-lg-6">
                  <ul class="breadcome-menu">
                    <li>
                      <a routerLink="/main/dashboard">Inicio</a>
                      <span class="bread-slash">/ Configuración /</span>
                    </li>
                    <li>
                      <a routerLink="/configuracion/listarimpuestos"><span class="bread-blod">Listado de
                          Impuestos /</span></a>
                    </li>
                    <li><span class="bread-blod">Crear</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-inner-all">
    <!-- Breadcome End-->
    <div class="admin-dashone-data-table-area mg-b-15">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-9">
            <div class="sparkline13-list shadow-reset">
              <div class="sparkline13-hd">
                <div class="main-sparkline13-hd">
                  <h1>
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    Registro <span class="table-project-n">de</span> Impuestos</h1>
                </div>
              </div>
              <div class="sparkline8-graph">

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="project-details-mg">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="col-lg-4">
                            <span><strong>Tipo Impuesto:</strong></span>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div class="project-details-dt">
                            <span>
                              <div class="chosen-select-single mg-b-20">
                                <select class="select2_demo_3 form-control" formControlName="idtipoimpuesto">
                                  <option value="0">--Seleccione--</option>
                                  <option value="{{tipoimpuesto.id}}" *ngFor="let tipoimpuesto of lstTipoImpuestos">
                                    {{tipoimpuesto.nombretipoimpuesto}}</option>

                                </select>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-details-mg">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="col-lg-4">
                            <span><strong>Nombre:</strong></span>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div class="project-details-dt">
                            <span>
                              <input formControlName="nombreimpuesto" type="text" class="form-control"
                                placeholder="Ingrese el Nombre del Impuesto" />
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="project-details-mg">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="col-lg-4">
                            <span><strong>% Tarifa:</strong></span>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div class="input-knob-dial-wrap">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="chosen-select-single mg-b-20">
                                  <input formControlName="normal" type="number" class="form-control"
                                    placeholder="Ingrese Tarifa" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-details-mg">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="col-lg-4">
                            <span><strong>Vigente Desde:</strong></span>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div class="input-knob-dial-wrap">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="chosen-select-single mg-b-20">


                                    <div class="input-group date">
                                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                      <input type="text" formControlName="fechaini" class="form-control">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="project-details-mg">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="col-lg-4">
                            <label>
                              <input type="checkbox" formControlName="status" value="">
                              <i></i> Activo </label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="project-details-tab">
                      <ul class="nav nav-tabs res-pd-less-sm">
                        <li class="active"><a data-toggle="tab" href="#home">Configuración Contabilidad</a>
                        </li>


                      </ul>
                      <div class="tab-content res-tab-content-project">
                        <div id="home" class="tab-pane fade in active animated zoomInLeft">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">



                              <div class="project-details-mg">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-lg-4">
                                      <span><strong>Cuenta Contable Ventas:</strong></span>
                                    </div>
                                  </div>
                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-knob-dial-wrap">
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="chosen-select-single mg-b-20">

                                            <select class="select2_demo_3 form-control">
                                              <option>--Seleccione--
                                              </option>
                                              <option value="Bahamas">
                                                Bahamas</option>
                                              <option value="Bahrain">
                                                Bahrain</option>
                                              <option value="Bangladesh">
                                                Bangladesh</option>

                                            </select>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="project-details-mg">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-lg-4">
                                      <span><strong>Cuenta Contable Compras:</strong></span>
                                    </div>
                                  </div>
                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-knob-dial-wrap">
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="chosen-select-single mg-b-20">

                                            <select class="select2_demo_3 form-control">
                                              <option>--Seleccione--
                                              </option>
                                              <option value="Bahamas">
                                                Bahamas</option>
                                              <option value="Bahrain">
                                                Bahrain</option>
                                              <option value="Bangladesh">
                                                Bangladesh</option>

                                            </select>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>
                        <!-- TERMINA PESTAÑA HOME -->



                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</form>

<app-footer></app-footer>
