
  <!-- MENU-->
  <div class="left-sidebar-pro">

    <nav id="sidebar">
      <div class="sidebar-header">
        <a href="#"><img src="assets/img/message/1.png" style="width: 60px;" alt="" />
        </a>
        <h3>Nk-System</h3>
        <p>Administrativo</p>
        <strong>AP+</strong>
    </div>
      <div class="left-custom-menu-adp-wrap">
        <ul class="nav navbar-nav left-sidebar-menu-pro">
          <li class="nav-item">
            <a routerLink="/main/dashboard" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="fa big-icon fa-home"></i> <span class="mini-dn">Inicio</span> <span
                class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>

          </li>

          <li class="nav-item">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Compras</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/compras/listarproveedores" class="dropdown-item">Proveedor</a>
              <a href="view-mail.html" class="dropdown-item">View Mail</a>
              <a href="compose-mail.html" class="dropdown-item">Compose Mail</a>
            </div>
          </li>
          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
              class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
                class="mini-dn">Inventario</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/inventario/listararticulos" class="dropdown-item">Articulo</a>
              <a routerLink="/inventario/listaralmacenes" class="dropdown-item">Almacen</a>
              <a routerLink="/inventario/listarcategorias" class="dropdown-item">Categoria</a>
              <a routerLink="/inventario/listarunidades" class="dropdown-item">Unidad de Medida</a>
              <a routerLink="/inventario/listartransacciones" class="dropdown-item">Movimientos de Inventario</a>
              <a href="preloader.html" class="dropdown-item">Preloader</a>
              <a href="images-cropper.html" class="dropdown-item">Images Cropper</a>
            </div>
          </li>
          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
              class="nav-link dropdown-toggle"><i class="fa big-icon fa-pie-chart"></i> <span
                class="mini-dn">Ventas</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/ventas/clientes" class="dropdown-item">Clientes</a>
              <a routerLink="/ventas/movimientoscaja" class="dropdown-item">Movimientos Caja</a>
              <a routerLink="/ventas/facturas" class="dropdown-item">Factura</a>
              <a routerLink="/ventas/listarvendedores" class="dropdown-item">Vendedor</a>
              <a href="project-details.html" class="dropdown-item">Project Details</a>
            </div>
          </li>
          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
              class="nav-link dropdown-toggle"><i class="fa big-icon fa-bar-chart-o"></i> <span
                class="mini-dn">Reportes</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown chart-left-menu-std animated flipInX">
              <a href="bar-charts.html" class="dropdown-item">Bar Charts</a>
              <a href="line-charts.html" class="dropdown-item">Line Charts</a>
              <a href="area-charts.html" class="dropdown-item">Area Charts</a>
              <a href="rounded-chart.html" class="dropdown-item">Rounded Charts</a>
              <a href="c3.html" class="dropdown-item">C3 Charts</a>
              <a href="sparkline.html" class="dropdown-item">Sparkline Charts</a>
              <a href="peity.html" class="dropdown-item">Peity Charts</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Configuración</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/configuracion/listarimpuestos" class="dropdown-item">Impuesto</a>
              <a routerLink="/configuracion/usuario" class="dropdown-item">Usuario</a>
              <a routerLink="/configuracion/listarformapagos" class="dropdown-item">Forma de Pago</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- FIN MENU-->
